.root{
    width: 44px;
    height: 44px;
    background: #404040;
    position: relative;
    cursor: pointer;
}
.root img{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

@media screen and (max-width: 1110px) {
    
  }
  
  @media screen and (max-width: 768px) {
   
  }
  
  @media screen and (max-width: 540px) {
    .root{
        width: 27px;
        height: 27px;
    }
    .root img{
      width:14px;
      height: 14px;
    }
  }