.root {
  width: 370px;
  height: 54px;
  position: relative;
  display: flex;
  flex-direction: row;
  background: linear-gradient(136.25deg, rgba(67, 67, 67, 0.61) 5.16%, rgba(88, 87, 87, 0.87) 96.94%);
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.5), inset -7px -3px 12px rgba(255, 255, 255, 0.15), inset 7px 3px 12px rgba(0, 0, 0, 0.45);
  border-radius: 0px 0px 0px 20px;
}

.root p {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #fafafa;
}

.left {
  width: 316px;
}
.left p {
    display: flex;
    justify-content: center !important;
}

.right {
  width: 54px;
  position: relative;
  border-left: 2px dashed #000000;
}

.right img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@media screen and (max-width: 1110px) {
  .root {
    width: 229px;
    height: 45px;
  }
  .root p {
    font-size: 12px;
  }
  .left {
    width: 196px;
  }
  .left p {
    padding-top: 5px;
}
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 540px) {
    .root {
        width: 162px;
        height: 32px;
      }
      .root p {
        padding-top: 3px;
        font-size: 8px;
      }
      .left {
        width: 196px;
      }
      .right img{
        width: 15px;
      }
}
